<div>
  <h1>Welcome to BetterTiss</h1>

  <h2>
    Some other text... yada yada
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "" %>

  <div id="searches">
    <%= link_to "Person search", people_search_path, class: "myButton" %>
    <%= link_to "Course search", "", class: "myButton" %>
    <%= link_to "Project search", "", class: "myButton" %>
    <%= link_to "Theses search", "", class: "myButton" %>
  </div>

</div>

<!--%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %-->