<% provide(:title, "Log in") %>
<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>

  <!-- for med, big screen sizes -->
  <div class="med big flexRow">
    <div class="flexCol">
      <%= f.label :email, class: 'flexCont' %>
      <%= f.label :password, class: 'flexCont' %>
    </div>

    <div class="flexCol">
      <%= f.email_field :email, class: 'form-control flexCont formTextField' %>
      <%= f.password_field :password, class: 'form-control flexCont formTextField' %>
    </div>
  </div>

  <!-- for sml screen sizes -->
  <div class="sml">
    <div class="smlLoginContainer">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control formTextField' %>
    </div>
    <div class="smlLoginContainer">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control formTextField' %>
    </div>
  </div>

  <div id="loginMemberMeContainer">
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this device</span>
    <% end %>
  </div>

  <%= f.submit "Log in", class: "btn btn-primary mySubmit" %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>

<% end %>