<div class="card cardPeopleSize">

  <!-- %= image_tag tiss_link + person.p_image, size: 50, class: 'card-img-top' if person.respond_to?(:p_image) && !person.p_image.nil? % -->

  <div class="card-header">
    <%= content_tag :h2, person.firstname + "  " + person.lastname %>
  </div>

  <p class="card-text">Gender: <%= person.gender %></p>

  <!-- p class="card-text">Prefix Titel: <%= person.prefixTitle if person.respond_to? :prefixTitle %></p>
    <p class="card-text">Postfix Titel: <%= person.postfixTitle if person.respond_to? :postfixTitle %></p -->

  <% if person.respond_to?(:p_link) && !person.p_link.nil? %>
    <p class="card-text">Link: <%= link_to "Tiss Link", tiss_link + person.p_link, :target => :_blank %> </p>
  <% end %>

  <div class="cardLinkCont">
    <%= render 'shared/favorite', path: people_favorite_path, favobj: person %>
    <%= link_to "Details", people_path(id: person.tiss_id), class: "cardLinks" %>
  </div>

</div>