<% provide(:title, @person.firstname + " " + @person.lastname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Person Details </h1>
      <%= image_tag tiss_link + @person.p_image, size: 256 if @person.respond_to?(:p_image) && !@person.p_image.nil? %>
      <div class="card-header"><%= @person.tiss_id.to_s + " " + @person.firstname + " " + @person.lastname %></div>
      <div class="card-body">
        <p class="card-text">Gender: <%= @person.gender %></p>
        <% if @person.respond_to? :prefixTitle %>
          <p class="card-text">Prefix Titel: <%= @person&.prefixTitle %></p>
        <% end %>
        <% if @person.respond_to? :postfixTitle %>
          <p class="card-text">Postfix Titel: <%= @person.postfixTitle %></p>
        <% end %>
        <%= render 'shared/favorite', path: people_favorite_path, favobj: @person %>
      </div>
    </section>
  </aside>
</div>
