<% provide(:title, @person.firstname + " " + @person.lastname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="person_detail">

      <h1>Person Details</h1>

      <%= image_tag tiss_link + @person.p_image, class: "imgPerson" if @person.respond_to?(:p_image) && !@person.p_image.nil? %>

      <div class="only_fav">
        <%= render 'shared/favorite', path: people_favorite_path, favobj: @person %>
      </div>

      <div class="flexRowPerson">
        <div class="flexColPersonL">

          <p class="flexCont">Name: </p>
          <p class="flexCont">Tiss id: </p>

          <% if @person.respond_to? :gender %>
            <%= content_tag :p, "Gender: ", class: "flexCont" if @person.respond_to? :gender %>
          <% end %>

          <% if @person.respond_to? :prefixTitle %>
            <%= content_tag :p, "Prefix Titles: ", class: "flexCont" %>
          <% end %>

          <% if @person.respond_to? :postfixTitle %>
            <%= content_tag :p, "Postfix Titles: ", class: "flexCont" %>
          <% end %>

          <% if @person.respond_to? :email %>
            <%= content_tag :p, "eMail: ", class: "flexCont" if @person.respond_to? :email %>
          <% end %>
        </div>

        <div class="flexColPersonR">
          <%= content_tag :p, @person.firstname + " " + @person.lastname, class: "flexCont" %>
          <%= content_tag :p, @person.tiss_id.to_s, class: "flexCont" %>
          <%= content_tag :p, @person.gender, class: "flexCont" if @person.respond_to? :gender %>
          <%= content_tag :p, @person.prefixTitle, class: "flexCont" if @person.respond_to? :prefixTitle %>
          <%= content_tag :p, @person.postfixTitle, class: "flexCont" if @person.respond_to? :postfixTitle %>
          <%= content_tag :p, @person.email, class: "flexCont" if @person.respond_to? :email %>
        </div>
      </div>

    </section>
  </aside>
</div>
