<div class="card cardThesesSize">

  <div class="card-header fade3">
    <%= content_tag :h2, thesis.t_title if thesis.respond_to? :t_title %>
  </div>

  <% fav = favorited_at(thesis) %>
  <% if not fav.nil? %>
    <p>Date_favorited: <%= fav %></p>
  <% end %>

  <% if thesis.respond_to?(:detail_url) && !thesis.detail_url.nil? %>
    <p class="card-text">
      Link: <%= link_to "Tiss Link", thesis.detail_url, :target => :_blank %>
    </p>
  <% end %>

  <% if thesis.respond_to?(:t_short) && !thesis.t_short.nil? && !thesis.t_short.empty? %>
    <div class="fade2">
      <span style="font-weight: bold">Short: </span><%= thesis.t_short %>
    </div>
  <% end %>

  <div class="cardLinkCont">
    <%= render 'shared/favorite', path: theses_favorite_path, favobj: thesis %>
    <%= link_to "Details", theses_path(id: thesis.tiss_id), class: "cardLinks" %>
  </div>

</div>