<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>People favorite</h1>
    <div class="row">
      <%= render partial: 'people/person', collection: @user.people, as: :person %>
    </div>
    <h1>Course favorites</h1>
    <div class="row">
      <%= render partial: 'courses/course', collection: @user.courses, as: :course %>
    </div>

    <button class="collapsible" onclick="openCollapsible(this)">Person favorites</button>
    <div class="content">
      <%= render partial: 'people/person', collection: @user.people, as: :person %>
    </div>
    <button class="collapsible" onclick="openCollapsible(this)">Course favorites</button>
    <div class="content">
      <%= render partial: 'courses/course', collection: @user.courses, as: :course %>
    </div>
    <button class="collapsible" onclick="openCollapsible(this)">Project favorites</button>
    <div class="content">
    </div>
    <button class="collapsible" onclick="openCollapsible(this)">Theses favorites</button>
    <div class="content">
    </div>

  </div>
</div>