<% provide(:title, @user.name) %>
<div class="row">

  <aside>
    <section class="user_info">
      <h1 class="header_name"><%= @user.name %></h1>
      <%= gravatar_for @user %>
    </section>
  </aside>

  <div>
    <h2>Favorites</h2>

    <button class="collapsible" onclick="openCollapsible(this)">Person favorites</button>
    <div class="content">
      <% if @user.people.empty? %>
        <p>No favorites found.</p>
      <% else %>

        <div class="sort_container">
          <p>Sort by: </p>
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_people', 'title')">Title
            <i class="sort_arrow arrow_up"></i></p>
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_people', 'date')">Date
            <i class="sort_arrow arrow_up"></i></p>
        </div>

        <div id="sort_people">
          <%= render @user.people %>
        </div>
      <% end %>
    </div>

    <button class="collapsible" onclick="openCollapsible(this)">Course favorites</button>
    <div class="content">
      <% if @user.courses.empty? %>
        <p>No favorites found.</p>
      <% else %>

        <div class="sort_container">
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_courses', 'title')">Title
            <i class="sort_arrow arrow_up"></i></p>
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_courses', 'date')">Date
            <i class="sort_arrow arrow_up"></i></p>
        </div>

        <div id="sort_courses">
          <%= render @user.courses %>
        </div>
      <% end %>
    </div>

    <button class="collapsible" onclick="openCollapsible(this)">Project favorites</button>
    <div class="content">
      <% if @user.projects.empty? %>
        <p>No favorites found.</p>
      <% else %>

        <div class="sort_container">
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_projects', 'title')">Title
            <i class="sort_arrow arrow_up"></i></p>
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_projects', 'date')">Date
            <i class="sort_arrow arrow_up"></i></p>
        </div>

        <div id="sort_projects">
          <%= render @user.projects %>
        </div>
      <% end %>
    </div>

    <button class="collapsible" onclick="openCollapsible(this)">Theses favorites</button>
    <div class="content">
      <% if @user.theses.empty? %>
        <p>No favorites found.</p>
      <% else %>

        <div class="sort_container">
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_theses', 'title')">Title
            <i class="sort_arrow arrow_up"></i></p>
          <p class="sort_attribute" onclick="onSortClick(this, 'sort_theses', 'date')">Date
            <i class="sort_arrow arrow_up"></i></p>
        </div>

        <div id="sort_theses">
          <%= render @user.theses %>
        </div>
      <% end %>
    </div>
  </div>

</div>