<% provide :title, "Search " + yield(:subject) %>

<div id="searchHeader">
  <h1>
    <%= 'Search TISS ' + yield(:subject) %>
  </h1>

  <%= form_tag(nil, method: :get) do %>
    <div class="med big">
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag 'Search ' + yield(:subject), name: nil %>
    </div>
  <% end %>

  <%= form_tag(nil, method: :get) do %>
    <div class="sml smlSearchContainer">
      <%= text_field_tag :query, params[:query], class: "formTextField" %>
      <div class="fab">
        <%= image_submit_tag "search-solid.svg", name: nil, class: "buttonSearchIcon" %>
      </div>
    </div>
  <% end %>

</div>