<div class="card cardProjectsSize sort_projects">

  <div class="card-header fade3">
    <%= content_tag :h2, project.p_title, class: "sort_title" if project.respond_to? :p_title %>
    <% fav = favorited_at(project) %>
    <% if not fav.nil? %>
      <p class="sort_date"><%= fav %></p>
    <% end %>
  </div>

  <% if project.respond_to?(:detail_url) && !project.detail_url.nil? %>
    <p class="card-text">
      Link: <%= link_to "Tiss Link", project.detail_url, :target => :_blank %>
    </p>
  <% end %>

  <% if project.respond_to?(:p_short) && !project.p_short.nil? && !ActionView::Base.full_sanitizer.sanitize(project.p_short).empty? %>
    <div class="fade2">
      <span style="font-weight: bold">Short: </span><%= ActionView::Base.full_sanitizer.sanitize(project.p_short) %>
    </div>
  <% end %>

  <div class="cardLinkCont">
    <%= render 'shared/favorite', path: projects_favorite_path, favobj: project %>
    <%= link_to "Details", projects_path(id: project.tiss_id), class: "cardLinks" %>
  </div>

</div>