<div class="card cardCoursesSize sort_courses">

  <div class="card-header fade2Big">
    <%= content_tag :h2, course.c_title, class: "sort_title" if course.respond_to? :c_title %>
    <% fav = favorited_at(course) %>
    <% if not fav.nil? %>
      <p class="sort_date"><%= fav %></p>
    <% end %>
  </div>

  <% if course.respond_to?(:c_link) && !course.c_link.nil? %>
    <p class="card-text">
      Link: <%= link_to "Tiss", course.c_link, :target => :_blank %>
    </p>
  <% end %>

  <% if course.respond_to?(:c_short) && !course.c_short.nil? && !course.c_short.empty? %>
    <div class="fade2">
      <span style="font-weight: bold">Short: </span><%= ActionView::Base.full_sanitizer.sanitize(course.c_short) %>
    </div>
  <% end %>

  <div class="cardLinkCont">
    <%= render 'shared/favorite', path: courses_favorite_path, favobj: course %>
    <%= link_to "Details", courses_path(id: course.tiss_id), class: "cardLinks" %>
  </div>

</div>
