<header>

  <ul class="sidenav">
    <li>
      <%= link_to "BetterTiss", root_path, id: "logo" %>
    </li>

    <li class="dropdown med">
      <%= content_tag :a, "Searches", class: "dropbtn button" %>
      <div class="dropdown-content" style="text-align: center">
        <%= link_to "Person search", people_search_path, class: "button" %>
        <%= link_to "Course search", "", class: "button" %>
        <%= link_to "Project search", "", class: "button" %>
        <%= link_to "Theses search", "", class: "button" %>
      </div>
    </li>

    <li class="big"><%= link_to "Person search", people_search_path, class: "button" %></li>
    <li class="big"><%= link_to "Course search", "", class: "button" %></li>
    <li class="big"><%= link_to "Project search", "", class: "button" %></li>
    <li class="big"><%= link_to "Theses search", "", class: "button" %></li>

    <% if logged_in? %>
      <li class="dropdown" style="float: right;">
        <%= content_tag :a, "PROFILE NAME", class: "dropbtn button" %>
        <div class="dropdown-content" style="right: 0">
          <%= link_to "Profile", current_user, class: "button" %>
          <%= link_to "Settings", edit_user_path(current_user), class: "button" %>
          <%= link_to "Log out", logout_path, method: :delete, class: "button" %>
        </div>
      </li>

    <% else %>
      <li style="float: right">
        <%= link_to "Login", login_path, class: "button" %>
      </li>
      <li style="float: right">
        <%= link_to "Sign up", signup_path, class: "button" %>
      </li>

    <% end %>

  </ul>

</header>