<header id="header">

  <ul class="sidenav">
    <li id="logoLiElement">
      <div id="logoContainer">
        <%= link_to "BetterTiss", root_path, id: "logo" %>
        <a href="javascript:void(0);" onclick="showMobileNav()" id="menuButton">test</a>
      </div>
    </li>

    <li class="dropdown med">
      <%= content_tag :a, "Searches", class: "dropbtn button" %>
      <div class="dropdown-content" style="text-align: center">
        <%= link_to "Person search", people_search_path, class: "button" %>
        <%= link_to "Course search", "", class: "button" %>
        <%= link_to "Project search", "", class: "button" %>
        <%= link_to "Theses search", "", class: "button" %>
      </div>
    </li>

    <li class="big"><%= link_to "Person search", people_search_path, class: "button" %></li>
    <li class="big"><%= link_to "Course search", "", class: "button" %></li>
    <li class="big"><%= link_to "Project search", "", class: "button" %></li>
    <li class="big"><%= link_to "Theses search", "", class: "button" %></li>

    <li class="sml">
      <!-- div class="smlDropCont">
        <a href="javascript:void(0);" onclick="openButtonMobileMenu(this)" class="button myLinks">Searches</a>
        <div class="toTheRight" style="text-align: center">
          <%= link_to "Person search", people_search_path, class: "button" %>
          <%= link_to "Course search", "", class: "button" %>
          <%= link_to "Project search", "", class: "button" %>
          <%= link_to "Theses search", "", class: "button" %>
        </div>
      </div -->

      <a href="javascript:void(0)" onclick="openButtonMobileMenu(this)" class="button myLinks smlDropButton">Searches</a>
      <div class="toTheRight" style="text-align: center">
        <%= link_to "Person search", people_search_path, class: "button" %>
        <%= link_to "Course search", "", class: "button" %>
        <%= link_to "Project search", "", class: "button" %>
        <%= link_to "Theses search", "", class: "button" %>
      </div>
    </li>

    <% if logged_in? %>
      <li class="dropdown med big" style="float: right;">
        <%= content_tag :a, current_user.name, class: "dropbtn button" %>
        <div class="dropdown-content" style="right: 0">
          <%= link_to "Profile", current_user, class: "button" %>
          <%= link_to "Settings", edit_user_path(current_user), class: "button" %>
          <%= link_to "Log out", logout_path, method: :delete, class: "button" %>
        </div>
      </li>

      <li class="sml">
        <!-- div class="smlDropCont">
          <a href="javascript:void(0);" onclick="openButtonMobileMenu(this)" class="button myLinks"><%= current_user.name %></a>
          <div class="toTheRight">
            <%= link_to "Profile", current_user, class: "button" %>
            <%= link_to "Settings", edit_user_path(current_user), class: "button" %>
            <%= link_to "Log out", logout_path, method: :delete, class: "button" %>
          </div>
        </div -->

        <a href="javascript:void(0)" onclick="openButtonMobileMenu(this)" class="button myLinks smlDropButton"><%= current_user.name %></a>
        <div class="toTheRight">
          <%= link_to "Profile", current_user, class: "button" %>
          <%= link_to "Settings", edit_user_path(current_user), class: "button" %>
          <%= link_to "Log out", logout_path, method: :delete, class: "button" %>
        </div>
      </li>

    <% else %>
      <li class="med big" style="float: right">
        <%= link_to "Login", login_path, class: "button" %>
      </li>
      <li class="med big" style="float: right">
        <%= link_to "Sign up", signup_path, class: "button" %>
      </li>
      <li class="sml">
        <%= link_to "Login", login_path, class: "button myLinks" %>
      </li>
      <li class="sml">
        <%= link_to "Sign up", signup_path, class: "button myLinks" %>
      </li>

    <% end %>

  </ul>

</header>